*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

/* HEADER */
header{
    margin-top: 30px;
    margin-left: 20px;
    padding-bottom: 15px;
}

.logo{
    vertical-align: middle;
    line-height: 100px;
}

.logo-text{
    font-size: 50px;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    vertical-align: middle;
}

/* SFONDO GRIGIO */
.sfondo-grigio{
    background-color: rgb(233, 231, 231);
    padding: 5px;
}

/* CONTAINER BIANCO */
.container-bianco{
    background-color: white;
    border-radius: 10px;
    width: 800px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 15px;
}


/* PULSANTI */
button {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 7px;
}

.button-task{
    background-color: hsl(197, 83%, 61%);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 7px;
    font-size: 14px;
    margin-left: 40px;
}

.button-section {
    background-color: white;
    color: rgb(204, 202, 202);
    border-radius: 10px;
    border-color: rgb(204, 202, 202);
    padding: 7px;
    font-size: 14px;
}

/* UNORDERED LIST */
