*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

/* HEADER */
header{
    margin-top: 30px;
    margin-left: 20px;
    padding-bottom: 15px;
}

.logo{
    vertical-align: middle;
    line-height: 100px;
}

.logo-text{
    font-size: 50px;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    vertical-align: middle;
}

/* SFONDO GRIGIO */
.sfondo-grigio{
    background-color: rgb(240, 238, 238);
    padding: 5px;
}

/* CONTAINER BIANCO */
.container-bianco{
    background-color: white;
    border-radius: 10px;
    width: 800px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 15px;
}


/* PULSANTI */
button {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 7px;
}

.button-task{
    background-color: hsl(197, 83%, 61%);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 7px;
    font-size: 14px;
    margin-left: 40px;
}

.button-section {
    background-color: white;
    color: rgb(204, 202, 202);
    border-radius: 10px;
    border: 1px solid rgb(204, 202, 202);
    padding: 7px;
    font-size: 14px;
}

.container-pulsanti{
    border-bottom: 1px solid rgb(204, 202, 202);
}

/* UNORDERED LIST */
ul {
    list-style-type: none;
}

.title-list {
    font-size: 23px;
}

.title-list-today{
    font-size: 23px;
    margin-top: 20px;
}

.title-list-upcoming{
    font-size: 23px;
    margin-top: 20px;
}

.lista-non-ordinata {
    padding-top: 20px;
    margin-left: 50px;
}

.list-items{
    margin-top: 14px;
    font-size: 16px;
}

.editorial {
    color: white;
    background-color: hsl(197, 83%, 61%);
    border-radius: 14px;
    padding: 6px;
    font-size: 13px;
}

.q1-goals {
    color: white;
    background-color: rgb(238, 90, 238);
    border-radius: 14px;
    padding: 6px;
    font-size: 13px;
}

.recruiting {
    color: white;
    background-color: green;
    border-radius: 14px;
    padding: 6px;
    font-size: 13px;
}

.mobile {
    color: white;
    background-color: orange;
    border-radius: 14px;
    padding: 6px;
    font-size: 13px;
}

.website {
    color: white;
    background-color: rgb(247, 150, 166);
    border-radius: 14px;
    padding: 6px;
    font-size: 13px;
}

.sales {
    color: white;
    background-color: lightgreen;
    border-radius: 14px;
    padding: 6px;
    font-size: 13px;
}